body{
    background: rgb(41, 40, 40);
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
}

.clicked{
    transform: scale(1.5);
}

.but{
    background: rgb(70, 67, 67);
    width: 80px;
    height: 30px;
}

.fo{
    font-family: 'Courier New', Courier, monospace;
}