{% extends 'base.html' %}
{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <title>Advertisement-post</title>
</head>

<body>
  {% block content%}
  <ul class="nav nav-pills sticky-top bg-white nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'main' %}">
        <span style="font-weight: bold;">Главная</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'top-sellers' %}"><span style="font-weight: bold;">Топ продавцов</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'adv-post' %}">
        <span style="font-weight: bold;">Разместить объявление</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="register.html">
        <span style="font-weight: bold;">Регистрация</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="login.html">
        <span style="font-weight: bold;">Войти</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="profile.html">
        <span style="font-weight: bold;">Профиль</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span style="font-weight: bold;">Выйти</span>
      </a>
    </li>
  </ul>
  <div class="row">
    <div class="col" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">Сообщите миру об этом в этой форме</span>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- enctype - для отправки файлов (картинки в нашем случае) -->
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row mb-3">
        <div class="col">
          <!-- расположит каждое поле формы в качестве <p>title</p>... -->
          <!-- as_div, as_ul, as_table -->
            {{  form.as_p  }}
        </div>
      </div>
      <div class="row mb-3 offset-sm-5">
        <div class="col">
          <button type="submit" class="btn btn-success">Принять</button>
        </div>
      </div>

    </form>
  </div>
{% endblock %}
</body>
</html>