<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Имя пользователя: {{  username  }}</h1>
    <form method="post" action="">
        {% csrf_token %}
        <input type="text" name="username">
        <button type="submit">Отправить</button>
    </form>
    <form action="" method="get">
        <input type="text" name="query">
        <button type="submit">Поиск</button>
    </form>
    <div>
        {% for name in result %}
        <p>{{name}}</p>
        {% endfor %}
    </div>
</body>
</html>