{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

{% load static %} 
<head>
  <title>{% block title %}Profile{% endblock %}</title>
</head>
<body>
  {% block content%}

  <ul class="nav nav-pills sticky-top bg-white nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <span style="font-weight: bold;">Главная</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="top-sellers.html"><span style="font-weight: bold;">Топ продавцов</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="advertisement-post.html">
        <span style="font-weight: bold;">Разместить объявление</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="register.html">
        <span style="font-weight: bold;">Регистрация</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="login.html">
        <span style="font-weight: bold;">Войти</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="profile.html">
        <span style="font-weight: bold;">Профиль</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span style="font-weight: bold;">Выйти</span>
      </a>
    </li>
  </ul>
  <div class="container">
  <div class="row">
    <div class="col" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">Страница регистрации пользователя</span>
      </div>
    </div>
  </div>
    <form method="post">
      {% csrf_token %}
      <div class="row mb-3">
        {{  form.as_p  }}
      </div>
      <div class="row mb-3 offset-sm-5">
        <div class="col">
          <button type="submit" class="btn btn-success">Принять</button>
        </div>
      </div>
    </form>
  </div>
  {% endblock %}
</body>
</html>
